
<div nz-row style="background-color: white; height: auto;">
    <nz-tabset style="width: 100%; padding: 15px;"
            nzSize="small" 
            nzType="line" 
            nzHideAll="false"  
            nzSelectedIndex="0"
            nzTabPosition="top"
            >
        <nz-tab nzTitle="Usuario" nzDisabled>
          <form nz-form style="padding: 15px;" [formGroup]="formUsuario" (ngSubmit)="save()">
                <!-- Identificador del usuario -->
                <nz-form-item>
                    <nz-form-label [nzSm]="3" [nzXs]="24"  nzFor="_id">Id</nz-form-label>
                    <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="El identificador no es válido!">
                        <input nz-input  id="_id" disabled formControlName="_id"/>
                    </nz-form-control>
                    
                </nz-form-item>
                <!-- Nombre del usuario-->
                <nz-form-item>
                  <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="name">Nombre</nz-form-label>
                  <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="El nombre no es válido!">
                    <input nz-input  id="name" formControlName="name" #nameInput type="text" placeholder="Nombre del usuario"/>
                  </nz-form-control>
                </nz-form-item>
                 <!-- Email-->
                 <nz-form-item>
                  <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
                  <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="El email no es válido!">
                    <input nz-input  id="email" formControlName="email" (focusout)="valida()" type="text" placeholder="Email del usuario"/>
                  </nz-form-control>
                </nz-form-item>
                <!-- Password-->
                <nz-form-item>
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="email">Password</nz-form-label>
                    <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="La contraseña no es válida!">
                      <input nz-input  id="password" formControlName="password" type="password" placeholder="Contraseña del usuario" />
                    </nz-form-control>
                </nz-form-item>
                <!-- Rol -->
                <nz-form-item>
                  <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired nzFor="rol">Rol de usuario</nz-form-label>
                  <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="El rol de usuario es obligatorio">
                    <nz-select formControlName="rol" id=rol>
                      <nz-option *ngFor="let rol of _login.ROLES" [nzValue]="rol" [nzLabel]="rol"></nz-option>
                    </nz-select>    
                  </nz-form-control>
                </nz-form-item>

    
                <nz-form-item nz-row>
                  <nz-form-control [nzSpan]="12" style="text-align: center;">
                    <button nz-button  nzType="primary" style="margin-right: 5px;" [disabled]="!formUsuario.valid">{{usuario._id ? "Modificar" : "Grabar"}}</button>
                    <button nz-button  nzType="default" (click)="exit()">Salir</button>
                  </nz-form-control>
                </nz-form-item>
          </form>
        </nz-tab>
    </nz-tabset>
</div>

