<div nz-col [nzSpan]="12" style="padding-bottom: 10px;">
  <button nz-button nzType="primary" (click)="add()" [disabled]="!tax._id">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <u>I</u>nsertar
  </button>
</div>



<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="40%" nzCustomFilter>Nombre tipo impositivo

          <!-- DropMenu Search name-->
          <nz-dropdown-menu #SearchName="nzDropdownMenu">
            <div class="ant-table-filter-dropdown " style="padding:10px">
                <div class="search-box" >
                <input type="text" nz-input placeholder="Nombre del impuesto" [(ngModel)]="nameSearch" #iNameSearch (keydown.enter)="search()"/>
                <button nz-button nzSize="small" nzType="primary" class="search-button" style="margin-top: 10px; margin-right: 2px;">Buscar</button>
                <button nz-button nzSize="small" style="margin-top: 10px;">Limpiar</button>
                </div>
            </div>
          </nz-dropdown-menu>
          <!-- ----------------------- -->

          <nz-filter-trigger [(nzVisible)]="vSearchName" [nzActive]="nameSearch.length > 0" [nzDropdownMenu]="SearchName" title="Alt+b">
            <i nz-icon nzType="search" ></i>
          </nz-filter-trigger>  
                  
        </th>
        <th nzWidth="15%">%</th>
        <th nzWidth="15%">Fecha Inicio</th>
        <th nzWidth="15%">Fecha Fin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
       
        <!--Row  mostrar datos -->
        <ng-container *ngIf="!editCache[data.percentage].edit ; else editTemplate">
          <td>{{ data.name }} </td>
          <td>{{ data.percentage }}</td>
          <td>{{ data.dateInit | date: 'd/M/yy'}}
          </td>
          <td>{{ data.dateEnd | date: 'd/M/yy'}}</td>
          <td>
            <a (click)="startEdit(data.percentage)">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="Seguros de cancelar" (nzOnConfirm)="delete(data.percentage)">Eliminar</a>
          </td>
        </ng-container>
        <!--Row edición datos --> 
        <ng-template #editTemplate>
          <td>
            <!-- Input name -->
            <nz-form-control nzErrorTip="El campo no puede ser nulo. Debe contener 3 o más caracteres" [nzValidateStatus]="error.name[0]"
            title="ESCAPE 'Cancelar edición línea'"
            >
              <input type="text" nz-input 
              [(ngModel)]="editCache[data.percentage].data.name" 
              #inputName="ngModel" name="name" 
              #iName
              (keydown.enter)="saveEnter(inputName)"
              (keydown.escape)="cancelEdit(data.percentage)"
              (keydown)="validate(inputName,data.percentage)"
              (focusout)="validate(inputName,data.percentage)" />
            </nz-form-control>
          </td>
          <td>
            <nz-form-control [nzErrorTip]="error.percentage[1]" [nzValidateStatus]="error.percentage[0]"
            title="ESCAPE 'Cancelar edición línea'">
              <input type="number" nz-input [(ngModel)]="editCache[data.percentage].data.percentage" [disabled] = "!editCache[data.percentage].n"
              name="percentage" max="100"
              #iPercentage
              #inputPercentage="ngModel"
              (keydown.escape)="cancelEdit(data.percentage)"
              (keydown.enter)="saveEnter(inputPercentage)"
              (focusout)="validate(inputPercentage,data.percentage)"
              />
            </nz-form-control>
        </td>
          <td>
             <!-- Input dateInit -->
            <nz-form-control nzErrorTip="El campo no puede ser nulo" [nzValidateStatus]="error.dateInit[0]">
              <nz-date-picker [(ngModel)]="editCache[data.percentage].data.dateInit" 
              nzFormat="dd.MM.yyyy" 
              nzPlaceHolder="F. Inicio" 
              #iDateInit
              #inputDateInit="ngModel" name="dateInit"
              (keydown.enter)="saveEnter(inputDateInit)"
              (focusout)="validate(inputDateInit,data.percentage)"
              (ngModelChange)="validate(inputDateInit,data.percentage)">
              </nz-date-picker>
            </nz-form-control>
          </td>
          <td>
            <nz-form-control nzErrorTip="La fecha no puede ser anterior a la fecha de inicio" [nzValidateStatus]="error.dateEnd[0]"
            title="CTRL+ENTER 'Grabar línea'"
            >
              <nz-date-picker [(ngModel)]="editCache[data.percentage].data.dateEnd" 
              nzFormat="dd.MM.yyyy" 
              nzPlaceHolder="F. Fin" 
              #iDateEnd
              #inputDateEnd="ngModel" name="dateEnd"
              (keydown.control.enter)="saveEnter(inputDateEnd,data.percentage)"
              (focusout)="validate(inputDateEnd,data.percentage)"
              (ngModelChange)="validate(inputDateEnd,data.percentage)"></nz-date-picker>
            </nz-form-control>
          </td>
          <td>
            <a (click)="saveEdit(data.percentage)" 
            [attr.disabled]="editCache[data.percentage].validate"
            class="save">Save</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="¿Seguro de cancelar la edición?" (nzOnConfirm)="cancelEdit(data.percentage)">Cancel</a>
          </td>
        </ng-template>

      </tr>
    </tbody>
  </nz-table>
