/* You can add global styles to this file, and also import other style files */



.text-right {
    text-align: right;
}

nz-footer {
    text-align: center;
}

.mt2 {
    margin-top: 2px !important; 
}
.ml2 {
    margin-left: 2px !important; 
}
.min100 {
    min-width: 100%;
}